*{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}



/* Standard-Elemente*/

html{

  background-image: url("../img/saentis.jpg");
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  background-position: fixed;


}


body{

  /*outline-style:dashed;*/
  background-color: rgba(129, 49, 49, 0.1)


}

title{

text-align:center;

}


header{

line-height: 2em;
font-size: 25px;
text-align: center;
background-color: rgba(255, 255, 255, 0);

}

/* Div Header */

#div-head{

  
width: 100%;
margin-left:0%;
background-color: rgba(129, 49, 49, 0.8) !important;
/*outline-style: dotted;*/


}

/* Menü */

ul li:hover{

background-color:brown;
height:50px;
transform: scale(1.5);
transition: transform 0.3s;

  

}


ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {

  float: left;
  list-style-type:none;
  display:block;
  width:25%;

}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* Links */

a:link, a:visited{

  color:rgb(250, 250, 250);

}

a:hover{

  color:rgb(250, 250, 250);

}



/* Div Section  */

#div-sec{

  width:50%;
  margin-left:15%;
  background-color: rgba(255, 255, 255, 0.336);
  min-height: 300px;
  padding-top:0%;
  padding:10%;
  padding-top: 2%;


}


/* Footer Navigation */

#footernav li{


}


#footernav  li:hover{

background-color:brown;
height:50px;
transform: scale(1.5);
transition: transform 0.3s;

}

#footernav {


}

#footernav li a {

}


#div-footer{

  width: 100%;
  margin-left:0%;
  list-style-type: none;
  background-color: rgba(129, 49, 49, 0.8) !important;

}

/*Responsive*/

/* Sobald der Bildschirm 768px oder schmaler ist: */
@media (max-width: 1064px) {
  html {
    /* Hier überschreiben wir das Bild */
    background-image: none;
    
    /* Du kannst auch andere Dinge ändern, z.B. die Farbe */
    background-color: brown; 
  }

  li{

    width: 100%;

  }

}

@media (max-width: 50%) {

  #feedback-kommentar {

  width: 50%;

  }

}