*{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}



/* Standard-Elemente*/

html{

  /*background-image: url("../img/background-1.jpg");
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  background-position: fixed;*/
  background-color: #ffffff;
  scroll-behavior: smooth;

}


body{

/*outline-style:dashed;*/
/*background-color: rgba(0, 0, 0, 0.8);*/
margin-top: 0px;

}

title{

text-align:center;

}


header{

line-height: 2em;
font-size: 25px;
text-align: center;
background-color: rgba(255, 255, 255, 0);
position: sticky;
}
/*Schrift */
.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Div Header */

#div-head{

  
width: 20%;
margin-left:0%;
background-color: white;
padding-top: 75px;
position: fixed;
opacity: 1;

}




/* Menü */

ul li:hover{

height:50px;
transform: scale(1.3);
transition: transform 0.3s; 

}


ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {

  float: left;
  list-style-type:none;
  display:block;
  width:100%;

}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Links */

a:link, a:visited{

  color:rgb(0, 0, 0);

}

a:hover{

  color:rgb(214, 211, 6);

}



/* Div Section  */


section#one {
    padding-top: 0px;
    padding-bottom: 30px;
    opacity: 0.3; 
    transform: translateX(0);
}


section {
    padding-top: 30px;
    padding-bottom: 30px;
        /* Wir animieren wieder opacity und transform */
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.8s ease-in-out;
    
    /* Startzustand für alle AUSSER dem ersten (der hat inline-styles):
       Leicht transparent und verschoben */
    opacity: 0.3; 
    height: 852px;
}


section.from-right {
    transform: translateX(100px);
}

/* 3. Der "Aktive" Zustand mittels :target */
/* Das hier greift, wenn die ID der Section in der URL steht (z.B. seite.html#two) */
section:target {
    opacity: 1 !important; /* Voll sichtbar */
    transform: translateX(0) !important; /* Zurück in die Mitte */
}

/* Optional: Ein kleiner Trick, damit der Browser beim Klick 
   nicht zu weit scrollt und die Überschrift verdeckt wird */
section:target::before {
    content: "";
    display: block;
    height: 60px; /* Höhe deiner Navigation ungefähr */
    margin-top: -60px;
}

#div-inhalt{

  width:75%;
  float:right;
  background-color: rgb(255, 255, 255);
  min-height: 300px;


}

.memes img{

max-width: 300px;
min-width: 100px;

}

#feedback-kommentar{

width: 100%;
  max-width: 600px; /* Optional: Maximale Breite auf Desktop */
  margin: 0 auto;
  padding: 10px;
}

  textarea{

/* 1. Responsivität */
  width: 100%; 
  box-sizing: border-box; 
  
  /* 2. Styling (Optional) */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  /* 3. Layout-Schutz */
  resize: vertical; /* Verhindert horizontales Ziehen */
  min-height: 100px; /* Mindesthöhe */

  }


/* Footer Navigation */

#footernav li{


}


#footernav  li:hover{

height:50px;
transform: scale(1.5);
transition: transform 0.3s;
-moz-transition: color 0.2s ease;
-webkit-transition: color 0.2s ease;
-ms-transition: color 0.2s ease;

}

#footernav {


}

#footernav li a {

}


#div-footer{

  width: 100%;
  margin-left:0%;
  list-style-type: none;
  background-color: white;

}




/*Responsive*/

/* Sobald der Bildschirm 768px oder schmaler ist: */
@media (max-width: 1064px) {
  html {
    
    background-image: none;
    
   
    background-color: white; 
  }

  li{

    width: 100%;

  }
  #div-head{

    width: 100%;
    position: fixed;
    opacity: 1;
  }

  #div-inhalt{

    width: 100%;
    position: unset;
    margin-top:350px;

  }

}

@media (max-width: 50%) {

#feedback-kommentar{

width: 100%;
  max-width: 600px; /* Optional: Maximale Breite auf Desktop */
  margin: 0 auto;
  padding: 10px;
}

  textarea{

/* 1. Responsivität */
  width: 100%; 
  box-sizing: border-box; 
  
  /* 2. Styling (Optional) */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  /* 3. Layout-Schutz */
  resize: vertical; /* Verhindert horizontales Ziehen */
  min-height: 100px; /* Mindesthöhe */


  }

}