/*Feedback*/


#feedback-kommentar{

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

textarea{

  width: 100%; 
  box-sizing: border-box; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
  min-height: 100px;

  }

  /* Grundstyling für das Input-Feld */
.input {
  width: 100%;
  padding: 12px 15px;       
  margin: 8px 0;            
  box-sizing: border-box;   /* Padding vergrößert das Element nicht */
  border: 2px solid #ccc;  
  border-radius: 8px;     
  font-size: 16px;          
  transition: all 0.3s ease; /* Weicher Übergang bei Änderungen */
  outline: none;            
}


.input:focus {
  border-color: #afa04c;   
  box-shadow: 0 0 8px rgba(175, 157, 76, 0.3); /* Leichter grüner Schein */
}

.button{

  background-color: white;
  box-sizing: border-box; 
  border: 2px solid #ccc; 
  width: 100%;
  padding: 12px 15px;       
  margin: 8px 0;   

}

