*{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}



/* Standard-Elemente*/

html{

  background-color: #ffffff;
  scroll-behavior: smooth;
  height: 100%;

}


body{

  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  
}

title{

text-align:center;

}


header{

  line-height: 2em;
  font-size: 25px;
  text-align: center;
}

/*Schrift */

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Horizontal Line */

hr{

color: white;
width:100%;
border:0.5px, solid;

}

/* Div Header */

#div-head{

  position: fixed; /* Fixiert auf dem Bildschirm */
  top: 0;
  left: 0;
  width: 20%;     
  height: 100vh;   /* Volle Bildschirmhöhe */
  background-color: white;
  z-index: 1000;
    /* Flexbox um den Inhalt in der Sidebar zu zentrieren */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikal zentrieren */
  border-right: 1px solid #e0e0e0;
  padding: 0;

}

/* Menü */

ul li:hover{

height:50px;
transform: scale(1.3);
transition: transform 0.3s; 

}


ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

}

li {

width: 100%;

}

li a {
  display: block;
  text-align: center;
  padding: 20px 10px; /* Etwas mehr Platz für die Links */
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

/* Links */

a:link, a:visited{

  color:rgb(0, 0, 0);

}

a:hover{

  color: rgb(214, 211, 6);

}



/* Div Section  */


section#one {
  padding-top: 40px;
  padding-bottom: 40px;
}

section#two {

  background-color: rgba(138, 66, 71, 1);

}

section#two .section-geruest{

  background-color: rgba(255, 255, 255, 0.3);

}

section#three{

 background-color: #ebead275;

}


section#four{

  background-color: #d6d206;

}

section#four .section-geruest{

  background-color: rgba(255, 255, 255, 0.3);

}

.section-geruest{
  
    border: #ffffff solid;
    border-radius: 20px;
    min-width: 50%;
    padding: 100px;

}


section {
/* Flexbox für Zentrierung des Inhalts */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* Mindestens Bildschirmhöhe */
  min-height: 100vh;
  
  padding: 40px 5%; /* Etwas Padding an den Seiten */
  box-sizing: border-box;

  /*Animation*/
  transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.8s ease-in-out;
  opacity: 0.3;
}

/* Der "Aktive" Zustand mittels :target */
/* Das hier greift, wenn die ID der Section in der URL steht (z.B. #two) */
section:target {
    opacity: 1 !important; /* Voll sichtbar */
    transform: translateX(0) !important; /* Zurück in die Mitte */
}

/* Der Browser soll beim Klick 
   nicht zu weit scrollen und damit die Überschrift nicht verdeckt wird */
section:target::before {
    content: "";
    display: block;
    height: 60px; /* Höhe deiner Navigation ungefähr */
    margin-top: -60px;
}

#div-inhalt{

  width: 80%;      
  margin-left: 20%; 
  background-color: rgb(255, 255, 255);
  min-height: 300px;


}


/*Schriftart für Header*/
#neon-heading {
    text-shadow: 0 0 5px #D6D306, 0 0 10px #D6D306, 0 0 20px #D6D306; /*Does the glow*/
    border-bottom: 2px solid #D6D306; /* Der untere Rand in Neon */
        padding-bottom: 5px; /* Etwas Abstand zum Rand */
    display: inline-block; /* Nur so viel Platz einnehmen wie der Text braucht */
}


/*Grössen für die Memes*/

.memes img{

max-width: 300px;
min-width: 100px;

}

/*Video*/

video{

width: 100%;
height: 100vh;


}

.background-video-container {
    position: absolute;
    opacity: 0.9;
}

/*über meine Person*/

.person-hobby{

padding-top: 10px;
padding-bottom: 10px;


}


.arbeit{

  padding: 10px;

}

/*Feedback*/


#feedback-kommentar{

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

textarea{

  width: 100%; 
  box-sizing: border-box; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
  min-height: 100px;

  }


/* Footer Navigation */

#footernav  li:hover{

height:50px;
transform: scale(1.5);
transition: transform 0.3s;
-moz-transition: color 0.2s ease;
-webkit-transition: color 0.2s ease;
-ms-transition: color 0.2s ease;

}

#div-footer{

  width: 100%;
  margin-left:0%;
  list-style-type: none;
  background-color: white;

}



/*Responsive*/

@media (max-width: 1064px) {

    html {
        /* Anker-Links sollen nicht unter dem Header landen.Der Wert muss der Höhe des mobilen Menüs entsprechen (ca. 260px hier) */
        scroll-padding-top: 260px; 
    }

    #div-head {
        width: 100%;       
        height: auto; 
        border-right: none;
        border-bottom: 1px solid #e0e0e0; 
        /* Zentrierung der Sidebar aufheben */
        display: block;    
        padding: 10px 0;
    }
    
    /* Navigationselemente kompakter */
    .nav li a {
        padding: 15px; /* Weniger Padding als auf Desktop */
    }

    #div-inhalt {
        width: 100%;    
        margin-left: 0;  
        margin-top: 260px; 
    }

    
    section {
        /* Auf mobilen Geräten NICHT vertikal zentrieren. Inhalt soll natürlich von oben nach unten fließen. */
        justify-content: flex-start; 
        padding-top: 20px;
      
    }
}

@media (max-width: 50%) {

#feedback-kommentar{

  width: 100%;
  max-width: 600px; 
  margin: 0 auto;
  padding: 10px;
}

  textarea{

  width: 100%; 
  box-sizing: border-box; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Verhindert horizontales Ziehen */
  min-height: 100px;


  }

}