html{

  background-image: url("../img/saentis.jpg");
  background-repeat: no-repeat, repeat;
  background-size: 100%;


}

body{

  outline-style:dashed;
  background-color: rgba(129, 49, 49, 0.1)


}

title{

text-align:center;

}


header{

line-height: 2em;
font-size: 25px;
text-align: center;
background-color: rgba(255, 255, 255, 0);

}


#div-head{

  
    width: 100%;
    margin-left:0%;
    background-color: rgba(129, 49, 49, 0.8) !important;
    outline-style: dotted;


}

ul li{

    list-style-type:none;
    display:block;
    width:25%;
}


ul li:hover{

background-color:brown;
height:50px;

}


ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {

  float: left;

}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}


/*Footer Navigation*/

#footernav li{


}


#footernav  li:hover{

background-color:brown;
height:50px;

}

#footernav {


}

#footernav li a {

}
/* ---- Footer Navigation End */

a:link, a:visited{

  color: rgb(0, 0, 0);

}

a:hover{

  color:rgb(250, 248, 248);

}

#div-sec{

  width:50%;
  margin-left:15%;
  background-color: rgba(255, 255, 255, 0.336);
  min-height: 300px;
  padding-top:0%;
  padding:10%;
  padding-top: 2%;


}

#div-footer{

  width: 100%;
  margin-left:0%;
  list-style-type: none;
  background-color: rgba(129, 49, 49, 0.8) !important;
  outline-style: dotted;

}



